/* Responsive web design for small screens (mobiles, tablets) */

main {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 70%;
   height: 95%; 
   }

body {
    color: #333;
    margin: 60px auto;
    width: 95%;
    /* height: 95%; */
}

div {
    /* background: #008000; */
    flex-basis: 100%;
  }

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
   font-size:0.8em;
}

a {
    font-size: 1.8em;
    text-decoration: none;
    color: #800080;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}

.content {
 min-height: calc(100% - 100px);
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
}

/* Flexible container for honepage image */

.homepageContent { 
  display: flex;
  align-items: center;
    flex-basis: 100%;
    flex-direction: column;
}

.homepageContent img {
    width: 200px;
    height: 200px;
  margin-right: 20px;
}

.homepageContent .text {
  flex: 1;
  font-size: 1.2em;
  line-height: 1.4em;  
}

/* Responsive web design for large screens */

  @media (min-width: 768px)  {
    main {
      flex-wrap: nowrap;
      width: 70%;
      height: 95%; 
      
    }

   
.homepageContent img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    maegin-left: 30px;
    margin-right: 30px;
}
      div {
      flex-basis: 50%;
    }

.homepageContent .text {
  flex: 1;
  font-size: 1.2em;
  line-height: 1.4em;  
    color: blue;
}

a {
    text-decoration: none;
    color: #800080;
}
      
  }
