<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/research">Research</a></li>
					<li><a href="/cv">CV</a></li>
					<li><a href="/teaching">Teaching</a></li>
					<li><a href="/misc">Miscellaneous</a></li>
				</ul>
			</nav>
			<div class="container">
			
			<h1 style="text-align:center;">Anshumaan Tuteja</h1>
			<p style="text-align:center;margin-bottom: 20px;"> PhD candidate, Department of Economics, University of Warwick </p>
			
			<figure>
				<picture>
					<img src="assets/img/Anshumaan photo.jpg" alt="AT" />
				</picture>
			</figure>
				
				
				{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<ul>
					<li><a href="mailto:a.tuteja.1@warwick.ac.uk">email</a></li>
					<li><a href="https://github.com/anshumaan-tuteja">Github</a></li>
					<li><a href="https://twitter.com/AnshumaanTuteja">Twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
